body {
  background-color: lightblue;
  padding-top: 20px;
  font-family: Sans-Serif;
}

#links {
  float: left;
  padding-left: 25px;
}

#picture {
  display: inline-block;
  padding-left: 50px;
  padding-top: 100px;
}