.navbar {
  background-color: #003366;
}

a.navbar-brand {
  color: #003366 !important;
  font-weight: bold;
  font-style: italic;
}

.navbar-header {
  background-color: gray;
  background-image: none;
}

.navbar-toggle {
  background-color: #003366 !important;
}