html {
  width: 100%;
  overflow-x: hidden;
}

body {
  /*padding-top: 20px;*/
  font-family: Sans-Serif;
  position: relative;
  width:100% !important;
  overflow-x:hidden !important;
}

img.northwestern {
  max-height:70%;
  max-width: 70%;
}

.main {
  padding: 16px;
  /*margin-top: 30px;*/
}
 
#home {
  padding-top: 50px;
  /*height: 100vh;*/
  min-height: fit-content;
  background: url('../images/bg-yosemite.jpg') center / cover;
  text-align: right;
  padding-right: 50px;
}

.hello {
  width: auto;
  /*display: inline-block;*/
  display: inline;
  color: black;
  font-size: 60px;
}

#education {
  /*flexbox*/
  display: flex;
  justify-content: center;
  align-items: center; 
  flex-direction: column;
  
  /*padding-top: 50px;*/
  padding-bottom: 50px;
  background-color: lightblue;
  text-align: center;
  /*height: 100vh;*/
  min-height: fit-content;
  }

#work {
  /*flexbox*/
  display: flex;
  justify-content: center;
  align-items: center; 
  flex-direction: column;
  
  /*padding-top: 50px;*/
  padding-bottom: 50px;
  background-color: #ccffcc;
  text-align: center;
  /*height: 100vh;*/
  min-height: fit-content;
  }

#projects {
  /*flexbox*/
  display: flex;
  justify-content: center;
  align-items: center; 
  flex-direction: column;
  
  /*padding-top: 50px;*/
  padding-bottom: 50px;
  background-color: #ccccff;
  text-align: left;
  /*height: 100vh;*/
  min-height: fit-content;
  }
  
#groups {
  /*flexbox*/
  display: flex;
  justify-content: center;
  align-items: center; 
  flex-direction: column;
  
  /*padding-top: 50px;*/
  padding-bottom: 50px;
  background-color: #ccffcc;
  text-align: left;
  /*height: 100vh;*/
  min-height: fit-content;
  }

#volunteering {
  /*flexbox*/
  display: flex;
  justify-content: center;
  align-items: center; 
  flex-direction: column;
  
  /*padding-top: 50px;*/
  padding-bottom: 50px;
  background-color: #ccccff;
  text-align: left;
  /*height: 100vh;*/
  min-height: fit-content;
  }
  
#contact {
  /*flexbox*/
  display: flex;
  justify-content: center;
  align-items: center; 
  flex-direction: column;
  
  /*padding-top: 50px;*/
  padding-bottom: 50px;
  background-color: #ffcc99;
  text-align: center;
  /*height: 100vh;*/
  min-height: fit-content;
}

.page-footer {
  background-color: lightblue;
}

img.northwestern{
  max-height:70%;
  max-width: 70%;
}

img.arrow-down{
  max-height:10%;
  max-width: 10%;
}

img.arrow-up{
  max-height:10%;
  max-width: 10%;
  float: center;
}

#projects-title {
  text-align: center;
}

img.card-picture{
  height:35%;
  width: 35%;
}