body {
  background-color: lightblue;
  padding-top: 20px;
  font-family: Sans-Serif;
  margin:0;
}

img {
  max-height:70%;
}

.main {
  padding: 16px;
  margin-top: 30px;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar-header {
  float: left;
}

.navbar a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#home {
  padding-left: 50px;
  height: 100vh;
  text-align: center;
}

#education {
  padding-left: 50px;
  background-color: white;
  text-align: center;
}

#contact {
  padding-left: 50px;
  text-align: center;
}